@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@1,6..96,700&family=Love+Light&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@1,6..96,700&family=Love+Light&family=Loved+by+the+King&display=swap");

@keyframes pulse {
  from {
    transform: translateX(-50%) scale(1); /* Initial scale */
  }
  to {
    transform: translateX(-50%) scale(1.2); /* Scale up to 1.1 times */
  }
}

@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}

@keyframes fouthicon {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes opaccii {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.down_button {
  position: absolute;
  left: 50%;
  bottom: 5%;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0);
  padding: 20px;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  transition: 0.4s;
  cursor: pointer;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: pulse 1s infinite alternate;
  filter: blur(1px);
}

.down_button svg {
  font-size: 30px;
}

.down_button:hover {
  transform: translateX(-50%) scale(1.2);
}

/* FIRSTTTTT */

.first-main {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(
    180deg,
    rgb(231, 80, 163),
    rgb(243, 90, 174),
    rgb(226, 103, 171),
    skyblue
  );
  align-items: center;
}

.first-Hello {
  font-family: "Love Light", cursive;
  margin-top: 15px;
  font-size: 60px;
}

.first-txt {
  width: 95vw;
  font-size: 25px;
  font-family: "Loved by the King", cursive;
  text-align: center;
}

.first-heart {
  position: relative;
  animation: heartbeat 4s infinite;
}

.first-heart svg {
  font-size: 70px;
}

.first-press-me {
  position: absolute;
  font-size: 18px;
  z-index: 99999;
  color: black;
  font-weight: 700;
  text-align: center;
  top: 21%;
  left: 18%;
}

/*SECONDDDD*/

.second-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background: linear-gradient(180deg, skyblue, skyblue, skyblue, purple);
  height: 100vh;
  width: 100vw;
}

.second-title {
  margin-top: 10px;
  font-size: 40px;
  font-family: "Love Light", cursive;
}

.second-photos {
  position: absolute;
  width: 90vw;
  padding: 20px;
  background-color: rgba(87, 150, 182, 0.647);
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  animation: opaccii 3s;
}

.second-gif {
  position: absolute;
  width: 90vw;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(87, 150, 182, 0.647);
  animation: opaccii 4s;
}

.second-gif img {
  width: 80vw;
}

.second-photos img {
  width: 80vw;
}

/* THIRDDDDDDD */

.third-main {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  background: linear-gradient(
    180deg,
    purple,
    purple,
    rgb(82, 0, 82),
    rgb(67, 151, 67)
  );
}

.third-title {
  font-size: 40px;
  font-family: "Love Light", cursive;
}

.third-acc-div-first {
  background: url("love.jpg");
}
.third-acc-div-second {
  background: url("love2.jpg") !important;
}
.third-acc-div-third {
  background: url("love1.jpg");
}
.third-acc-div-fourth {
  background: url("love4.jpg");
}

.third-acc-div-first,
.third-acc-div-second,
.third-acc-div-third,
.third-acc-div-fourth {
  z-index: 99999;
  width: 95vw;
  border-radius: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 10px;
}

/* FOOURTHHH */
.fourth-main {
  position: relative;
  background: linear-gradient(
    180deg,
    rgb(67, 151, 67),
    rgb(67, 151, 67),
    rgb(67, 151, 67),
    blue
  );
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.fourth-title {
  font-size: 40px;
  font-family: "Love Light", cursive;
}

.fouth-btn-cont {
  display: flex;
  justify-content: center;
  height: 30vh;
  flex-wrap: wrap;
  gap: 5px;
  row-gap: 10px;
}

.fourth-photo {
  width: 90vw;
  border-radius: 15px;
  border: 10px white solid;
}

.fouth-img-cont {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fourth-button {
  animation: fouthicon 1s infinite;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  border: none;
}

.fourth-button:hover {
  background-color: darkgray;
}

.fourth-icons {
  width: 70%;
}

.fourth-icon svg {
  width: 100%;
}

/* FIFTHHH */
.fifth-main {
  position: relative;
  background-color: blue;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
